body {
  background: #eee;
}

.letter-grid {
  display: flex;

  .column {
    display: flex;
    flex-direction: column-reverse;

    .letter {
      border: 1px solid #ccc;
      padding: 1rem;
    }
  }
}
