body {
  background: #eee;
}

#root {
  padding: 1rem 3rem;
}

.game-board {
  display: flex;
}

.scoreboard {
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

@keyframes deleting {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.letter-grid {
  display: flex;

  .column {
    display: flex;
    flex-direction: column-reverse;

    .letter {
      border: 1px solid #ccc;
      padding: 1rem;
      cursor: pointer;
      user-select: none;
      transition: transform 1s;

      &:hover {
        background-color: #fee;
      }

      &.active {
        border: 2px solid black;
        background-color: #fcc;
      }

      &.deleting {
        animation: deleting forwards 1s;
      }

      &.deleted {
        opacity: 0;
      }
    }
  }
}

.building-word {
  padding: 1rem;
  font-size: 2rem;
}

.mistake {
  color: #e312f5;
}
