body {
  background: #eee;
}

#root {
  padding: 1rem 3rem;
}

.letter-tile {
  background-color: #eee;
  cursor: pointer;
  user-select: none;
}

.letter-tile:hover {
  background-color: white;
}

@keyframes naughty-flash {
  0% { background-color: red; }
  100% { background-color: white; }
}

.naughty {
  animation: naughty-flash forwards 1s;
}


@keyframes fade-out {
  0% { opacity: 100%; }
  100% { opacity: 0%; }
}

@keyframes fall-in {
  0% { transform: translateY(-200%); }
  100% { transform: translateY(0); }
}
